{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}


<!-- image -->
</div>
  <div class='text-center'>
      <h1><b>{{ content }}</b></h1>
  </div>

<div class='row'>
  <div class='col'>

    <div class='container'>
       <h1>{{ title }}</h1>
        <p> E-commerce (electronic commerce) is the activity of electronically buying or selling of products on online services or over the Internet.
        Electronic commerce draws on technologies such as mobile commerce, electronic funds transfer, supply chain management, Internet marketing,
        online transaction processing, electronic data interchange (EDI), inventory management systems, and
        automated data collection systems. E-commerce is in turn driven by the technological advances of
        the semiconductor industry, and is the largest sector of the electronics industry.
        </p>
 <p> 
        Modern electronic commerce typically uses the World Wide Web for at least one part of the transaction's
        life cycle although it may also use other technologies such as e-mail. Typical e-commerce
        transactions include the purchase of online books (such as Amazon) and music purchases
        (music download in the form of digital distribution such as iTunes Store), and to a less
        extent, customized/personalized online liquor store inventory services.[1] There are three
        areas of e-commerce: online retailing, electronic markets, and online auctions. E-commerce is
        supported by electronic business.[2] 
</p>
    </div>
  </div>
</div>

{% endblock %}
